In [1]:
import os
import json
os.listdir(".")

['scott_psych.json',
 'yvette_election.m4a',
 '.DS_Store',
 'Speeches-Copy1.ipynb',
 'Tweets.ipynb',
 'scott_interview.m4a',
 'psych.m4a',
 'Speeches.ipynb',
 'Yvette_Trans.json',
 'Yvette_election.json',
 '.ipynb_checkpoints',
 'psych_scott.json',
 'yvette_interview.json',
 'testin.ipynb',
 'scott_interview.json',
 'scott.json',
 'yvette_trans.m4a']

In [2]:
interview = {}

def get(file):
    f = open(file)
    return json.load(f)
interview['Scott Interview'] = get("scott_interview.json")
interview['Scott Pysch'] = get("scott_psych.json")
interview['Yvette Trans'] = get("yvette_trans.json")
interview['Yvette Interview'] = get("yvette_interview.json")

In [3]:
l[0].keys()

NameError: name 'l' is not defined

In [5]:
k = interview['Yvette Interview'][0]

In [6]:
k.keys()

dict_keys(['id', 'author', 'date', 'text', 'timestamp', 'embedding'])

In [8]:
len(k['embedding'])

3072

In [43]:
from datetime import datetime
import psycopg2
from psycopg2.extras import execute_values
def unix_to_datetime(unix_timestamp):
    return datetime.fromtimestamp(unix_timestamp)

def parse_date(date_str):
    # Convert the string to a datetime object
    return datetime.strptime(date_str, '%b %d, %Y')
def date_to_postgres_timestamp(date_str):
    date_obj = parse_date(date_str)
    # Format the datetime object as a string accepted by PostgreSQL
    return date_obj.strftime('%Y-%m-%d %H:%M:%S')

def parse_date(date_str):
    return datetime.strptime(date_str, '%b %d, %Y')

def insert_into_context(records, val):
    conn_params = {
        'dbname': 'postgres',
        'user': 'postgres',
        'password': 'Pajpakpaj1',
        'host': 'database-5.ckd3zcdvzn0x.us-east-1.rds.amazonaws.com',
        'port': '5432'
    }

    with psycopg2.connect(**conn_params) as conn:
        with conn.cursor() as cur:
            insert_query = """
            INSERT INTO context (id, text, date, author, timestamp, link,embedding)
            VALUES %s
            ON CONFLICT (id) DO NOTHING;
            """

            print(str(val))
            tuple_list = [
                (
                    str(val), 
                    record.get('text'), 
                    
                    parse_date(record.get('date')).date(),  # Assuming date is to be stored as a date type
                    record.get('author'), 
                    datetime.fromtimestamp(record.get('timestamp')).strftime('%Y-%m-%d %H:%M:%S'),  # Convert Unix timestamp to PostgreSQL timestamp

#                     record.get('timestamp'),  # Assuming timestamp is already formatted correctly
                    record.get('id'),
                    record.get('embedding')
                )
                for record in records if 'id' in record and 'text' in record and 'date' in record
            ]

            execute_values(cur, insert_query, tuple_list)
            conn.commit()
            
#             print(f"Inserted {cur.rowcount} records into the 'context' table.")

In [48]:
x = 1
from tqdm import tqdm
for record in tqdm(interview['Scott Interview']):
#     print(record)
    insert_into_context([record], "Scott" + str(x))
    x+=1
    
# insert_into_context(interview['Yvette Interview'][0:1], "0")

  0%|                                                       | 0/40 [00:00<?, ?it/s]

Scott1

  2%|█▏                                             | 1/40 [00:01<00:39,  1.02s/it]

Inserted 1 records into the 'context' table.
Scott2

  5%|██▎                                            | 2/40 [00:02<00:38,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott3

  8%|███▌                                           | 3/40 [00:03<00:37,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott4

 10%|████▋                                          | 4/40 [00:04<00:36,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott5

 12%|█████▉                                         | 5/40 [00:05<00:35,  1.02s/it]

Inserted 1 records into the 'context' table.
Scott6

 15%|███████                                        | 6/40 [00:06<00:34,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott7

 18%|████████▏                                      | 7/40 [00:07<00:33,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott8

 20%|█████████▍                                     | 8/40 [00:08<00:32,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott9

 22%|██████████▌                                    | 9/40 [00:09<00:31,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott10

 25%|███████████▌                                  | 10/40 [00:10<00:30,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott11

 28%|████████████▋                                 | 11/40 [00:11<00:29,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott12

 30%|█████████████▊                                | 12/40 [00:12<00:28,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott13

 32%|██████████████▉                               | 13/40 [00:13<00:27,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott14

 35%|████████████████                              | 14/40 [00:14<00:25,  1.01it/s]

Inserted 1 records into the 'context' table.
Scott15

 38%|█████████████████▎                            | 15/40 [00:15<00:25,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott16

 40%|██████████████████▍                           | 16/40 [00:16<00:24,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott17

 42%|███████████████████▌                          | 17/40 [00:17<00:23,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott18

 45%|████████████████████▋                         | 18/40 [00:18<00:22,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott19

 48%|█████████████████████▊                        | 19/40 [00:19<00:21,  1.03s/it]

Inserted 1 records into the 'context' table.
Scott20

 50%|███████████████████████                       | 20/40 [00:20<00:20,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott21

 52%|████████████████████████▏                     | 21/40 [00:21<00:19,  1.03s/it]

Inserted 1 records into the 'context' table.
Scott22

 55%|█████████████████████████▎                    | 22/40 [00:22<00:18,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott23

 57%|██████████████████████████▍                   | 23/40 [00:23<00:17,  1.02s/it]

Inserted 1 records into the 'context' table.
Scott24

 60%|███████████████████████████▌                  | 24/40 [00:24<00:16,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott25

 62%|████████████████████████████▊                 | 25/40 [00:25<00:15,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott26

 65%|█████████████████████████████▉                | 26/40 [00:26<00:14,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott27

 68%|███████████████████████████████               | 27/40 [00:27<00:13,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott28

 70%|████████████████████████████████▏             | 28/40 [00:28<00:12,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott29

 72%|█████████████████████████████████▎            | 29/40 [00:29<00:11,  1.01s/it]

Inserted 1 records into the 'context' table.
Scott30

 75%|██████████████████████████████████▌           | 30/40 [00:30<00:09,  1.00it/s]

Inserted 1 records into the 'context' table.
Scott31

 78%|███████████████████████████████████▋          | 31/40 [00:31<00:09,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott32

 80%|████████████████████████████████████▊         | 32/40 [00:32<00:07,  1.00it/s]

Inserted 1 records into the 'context' table.
Scott33

 82%|█████████████████████████████████████▉        | 33/40 [00:33<00:07,  1.02s/it]

Inserted 1 records into the 'context' table.
Scott34

 85%|███████████████████████████████████████       | 34/40 [00:34<00:06,  1.00s/it]

Inserted 1 records into the 'context' table.
Scott35

 88%|████████████████████████████████████████▎     | 35/40 [00:35<00:04,  1.00it/s]

Inserted 1 records into the 'context' table.
Scott36

 90%|█████████████████████████████████████████▍    | 36/40 [00:36<00:03,  1.01it/s]

Inserted 1 records into the 'context' table.
Scott37

 92%|██████████████████████████████████████████▌   | 37/40 [00:37<00:03,  1.02s/it]

Inserted 1 records into the 'context' table.
Scott38

 95%|███████████████████████████████████████████▋  | 38/40 [00:38<00:02,  1.04s/it]

Inserted 1 records into the 'context' table.
Scott39

 98%|████████████████████████████████████████████▊ | 39/40 [00:39<00:01,  1.03s/it]

Inserted 1 records into the 'context' table.
Scott40

100%|██████████████████████████████████████████████| 40/40 [00:40<00:00,  1.01s/it]

Inserted 1 records into the 'context' table.

In [31]:
interview['Yvette Interview'][0]['link']

KeyError: 'link'